*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url(./laptop.jpg);
    background-size: cover;
    background-position: center;


}
.responsive{
    width:100%;
    max-width: 400px;
    height: auto;
}
.inner{
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    color: #fff;
    
}
.font{
    font-family: serif;
}
.font1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.inner h1{
    font-size: 80px;
    margin-top: 0px;
    font-family:'Times New Roman', Times, serif
}
.inner p{
    font-family: monospace;
    font-size: xx-large;
}
.image{
   
    float: left;
}
.text1{
    font-family: math;
}
.text{
     font-family: monospace;
}
